@import "catppuccin-waybar/themes/mocha.css";

* {
  font-family: ForkAwesome, FantasqueSansMono Nerd Font;
  font-size: 13px;
  min-height: 0;
}

label:disabled,
button:disabled {
  color: inherit;
  background-image: none;
}

#waybar {
  background: @base;
  color: @text;
  margin: 5px 0;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#workspaces button.focused {
    background-color: @overlay0;
}

#workspaces button.urgent {
    background-color: @red;
}

#mode {
    background-color: @red;
    color: @surface0;
}

#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#idle_inhibitor,
#bluetooth,
#network {
  background-color: @surface0;
  padding: 0.5rem 0.8rem;
  margin: 5px 0;
  color: @text;
}

#clock {
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#bluetooth.off {
  color: @overlay0;
}

#network.disconnected {
    background-color: @mauve;
}

#pulseaudio {
  border-radius: 1rem 0px 0px 1rem;
}


#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}

#idle_inhibitor {
  margin-right: 1rem;
  border-radius: 1rem;
}

#idle_inhibitor.activated {
    background-color: @crust;
    color: @sapphire;
}
